:root {
    --navbar-height: 50px;
    
    /* 50px height + 8px margin top & bottom + 3px border.  */
    --navbar-actual-height: calc(50px + 16px + 3px);
    --footer-height: 30px;
 
    --landing-height: calc(100vh - var(--navbar-actual-height) - var(--footer-height));
}

