image {
    /* Todo: this should have default styling. */
}

.text-fallback {
    box-sizing: content-box;
    padding: 8px 4px;
    flex-grow: 1;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS for the image class's actual image.  */
.image-image {
    background-color: var(--text-bg-color);
}
