.dropdown-content {
    display: none;
}

.dropdown-title {
    color: var(--text-fg-color);
}

.astext {
    background: var(--text-bg-color);
    border: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
 }
