/* Main Landing class div  */
#landing {
    height: var(--landing-height);
    width: 100%;
    background-color: var(--empty-pane-color);
}

/* Landing class CSS  */
.landing-content {
    /* 15*2 for padding. 90% because 2 content seperators.  */
    height: calc(90% - 15px - 15px);
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
}

.content-seperator {
    width: 100%;
    height: 5%;
}
