
/* Footer IDs  */
#footer {
    width: 100vw;
    height: var(--footer-height);
    background-color: var(--text-bg-color);
    display: flex;
    flex-direction: row;
}

/* Footer Classes */
.footer-left-pane {

}

.footer-center-pane {
    height: 100%;
    background-color: var(--text-bg-color);
    display: flex;
    flex-direction: column
}

.footer-right-pane {

}

.footer-text {
    color: var(--text-fg-color);
    text-align: center;
    margin: 0px;
    font-size: 13px;
}
