.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-header {
    background-color: #ffffff;
    height: 80px; 
}

.app-footer {
    height: 70px;
    background-color: #333;
}

.app-body {
    flex: 1 1 auto;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("assets/background.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.content-body {
    margin: 0 auto;
    height: 100%;
    width: 1000px;
}

.app-logo {
    width: 200px;
    height: auto;
    float: left;
    margin-top: 15px;
}

.app-navigator {
    float: right;
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

.navigator-link {
    margin-right: 50px;
    text-decoration: none;
    color: #777;
    font-family: sans-serif;
    font-size: 18px;
}

.navigator-link:hover {
    color: red;
    cursor: pointer;
}

.active-navigator-link {
    margin-right: 50px;
    text-decoration: none;
    color: #bbb;
    font-family: sans-serif;
    font-size: 18px;
}

.active-navigator-link:hover {
    color: #bbb;
    cursor: default;
}

.footer-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content > p, a {
    color: white;
    margin: 0;
    text-decoration: none;
}

/* Internal content CSS to be extracted. */

.content-title {

}

.content-title {
    color: white;
    font-size: 4.5rem;
    font-family: Roboto,sans-serif;
    margin: 0;
    width: 100%;
    margin-top: 5.5%;
    text-align: center;
}

.headshot {
    overflow: hidden;
    width: 161px;
    height: 161px;
    border-radius: 50%;
    margin-left: 4%;
    margin-right: 7%;
    margin-top: -12%;
}

.content {
    text-align: center;
    margin-top: 11%;
}

.content > p {
    color: white;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.25rem;
}